* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(130, 145, 173, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 60%;
    height: 70%;
    padding: 40px;
    background-color: #d8dde7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form {
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.form-group {
    padding-left: 50px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.form-group2 {
    padding-left: 50px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.form-group label {
    width: 48%;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    background-color: #325aa8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #27468c;
}

#regresar {
    background-color: #7d8aa1;
}

#regresar:hover {
    background-color: #5f6a80;
}
